#banner {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#banner h1, #banner h3 {
    color: white;
}

#logo {
    max-height: 8rem;
    image-rendering: high-quality;
}

.nav-link.active::before {
    display: none !important;
}

.nav-link {
    word-break: keep-all;
}
