/* This fixes that weird thing where every element but the first of navbar pills would have a slight left offset. No idea why they did it like that in the first place */
.nav-pills .nav-item + .nav-item {
    margin-left: 0;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6,
section h1,
section h2,
section h3,
section h4 {
    color: #ee370e;
}

section.card {
    padding-top: 0;
}

/* Table */
.table {
    max-width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
    color: white;
    background-color: #222222;
    border: 2px #3b3b3b solid;
}

.table > thead > tr > th {
    border-bottom: 2px #3b3b3b solid;
}

.table tr {
    border: none;
}

.table tr:nth-child(2n) {
    background-color: #1D1D1D;
}

p {
    line-height: 1.6;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin-bottom: 0;
}

.anchorjs-link:hover,
.footnote-ref,
.footnote-ref:hover {
    text-decoration: none;
}

.footnote-back-ref {
    display: none;
}

/* Some fine tuned styling */

.bg-gray {
    background-color: #202020 !important; /* i know, i know */
}

.card-header {
    background-color: #202020;
    border-bottom-color: #3b3b3b;
}

.card.bg-gray {
    border-color: #3b3b3b;
}

.bg-gray hr {
    border-top-color: #3b3b3b;
    border-top-width: 2px;
}

.bg-gray code {
    color: #b3b3b3;
    border: 2px #3b3b3b solid;
}

code {
    padding: 0.25rem;
}

pre > code,
pre > code.hljs {
    display: block;
    padding: 1rem;
}

.bg-gray .hljs {
    background-color: #202020;
}

.nav-category {
    margin-top: 1rem;
    border-bottom: 2px #3b3b3b solid;
}

/* Other markdown styling */ 

img {
    width: 100%;
}

blockquote {
    border-left: 4px #3b3b3b solid;
    padding-left: 1rem;
}

.alert p {
    margin-bottom: 0;
}

/* Heading sidebar navigation */

#heading-navigation {
    list-style: none;
}

#heading-navigation > li.nav-item {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#heading-navigation > li.nav-item a {
    text-decoration: none;
}

.nav-heading-level-1 {
    padding-left: 0;
}

.nav-heading-level-2 {
    padding-left: 1rem;
}

.nav-heading-level-3 {
    padding-left: 2rem;
}

.nav-heading-level-4 {
    padding-left: 3rem;
}

.nav-heading-level-5 {
    padding-left: 4rem;
}

.nav-heading-level-6 {
    padding-left: 5rem;
}