/* Wiki specific styles that are not defined in chaotic */

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6,
section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    color: var(--primary);
}

*,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    font-weight: 500;
}

.navbar-nav .nav-link {
    font-weight: 900;
    color: var(--color-text);
}

section.card {
    padding-top: 0;
}

p {
    line-height: 1.6;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
    margin-bottom: 0;
}

.anchorjs-link:hover,
.footnote-ref,
.footnote-ref:hover {
    text-decoration: none;
}

.footnote-back-ref {
    display: none;
}

/* Some fine tuned styling */

.nav-category {
    margin-top: 1rem;
    border-bottom: 2px var(--color-border) solid;
}

/* Other markdown styling */ 

img {
    width: 100%;
}

blockquote {
    border-left: 4px #3b3b3b solid;
    padding-left: 1rem;
}

.alert p {
    margin-bottom: 0;
}

/* Heading sidebar navigation */

#heading-navigation {
    list-style: none;
}

#heading-navigation > li.nav-item {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

li.nav-item a {
    text-decoration: none;
}

.nav-heading-level-1 {
    padding-left: 0;
}

.nav-heading-level-2 {
    padding-left: 1rem;
}

.nav-heading-level-3 {
    padding-left: 2rem;
}

.nav-heading-level-4 {
    padding-left: 3rem;
}

.nav-heading-level-5 {
    padding-left: 4rem;
}

.nav-heading-level-6 {
    padding-left: 5rem;
}