@page
@model IndexModel
@{ 
    ViewData["Title"] = "Dashboard";
}

<div class="bg-primary">
    <h1>Dashboard</h1>
</div>
<div class="row">
    <div class="col col-md-2 bg-light">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" asp-page="~/Panel/Dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
    
    <div class="col col-auto">
        <p>Content</p>
    </div>
</div>