@page
@model ChaosInitiative.Web.ControlPanel.Pages.Panel.FeaturesModel

@{
    ViewData["Title"] = "New Page";
}

<section>
    
    <h2>
        This is a template page
    </h2>

    <p>
        Please replace me!
    </p>
    
</section>
