@page

@{
    ViewData["Title"] = "Contact";
}

<div class="bg-primary h-100">
<section class="container">

    <h1>Contact</h1>
    
    <h3>Discord</h3>
    <p>
        <a href="@Constants.LINK_DISCORD_CHAOS">@Constants.LINK_DISCORD_CHAOS</a>
    </p>
    
    <h3>E-Mail</h3>
    <p>
    </p>
    
    
</section>
</div>