@page

@{
    ViewData["Title"] = "Contact";
}

<div class="bg-primary h-100">
<div class="container pt-6">

    <h1>Contact</h1>
    
    <p>Here is how you can get in touch with us.</p>
    
    <h3 class="pt-3">Discord</h3>
    <p>
        <a href="@Constants.LINK_DISCORD_CHAOS">@Constants.LINK_DISCORD_CHAOS</a>
    </p>
    
    <h3 class="pt-5">E-Mail</h3>
    <p>
        <a href="@Constants.LINK_EMAIL_CHAOS_CONTACT">@Constants.EMAIL_CHAOS_CONTACT</a>
    </p>
    
    
</div>
</div>