@page
@model EngineModel

@{
    ViewData["Title"] = "Chaos Source Engine";
    ViewData["Description"] = "Bringing Source Engine to the next level";
}

<div class="bg-light">
<section class="container">

    <div class="row">
        <div class="col col-sm-5">

        </div>
        <div class="col col-sm-7">
            <h1>Chaos Source Engine</h1>
            <p>Chaos Source is a branch of <a href="https://www.valvesoftware.com">Valve Software's</a> Source Engine based off Counter&#8209;Strike:&#160;Global&#160;Offensive.</p> <!-- <===== These are non breaking characters -->
            <p>The main goal of Chaos Source is to provide a shared engine base for many different Source Engine projects, so that those mods can benefit from each other instead of every team having to implement the same features independently.</p>
        </div>
    </div>

</section>
</div>

<div class="bg-transparent">
<section class="container">

    <h1>Features</h1>

    <p>
        We try to share most features across all our games, but some may be enabled or disabled for specific reasons.
    </p>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr><th></th><th>Base Engine</th><th>Portal 2: Community Edition</th><th>Momentum</th></tr>
            </thead>
            <tbody>
                <tr><td>Some feature</td><td><i class="fas fa-check"></i></td><td><i class="fas fa-times"></i></td><td><i class="fas fa-times"></i></td></tr>
            </tbody>
        </table>
    </div>

</section>
</div>

<div class="bg-primary">
<section class="container">
    <!-- Move this to control panel -->
    <h1>Engine FAQ</h1>
    <hr>
    <h2>Why is it not open source?</h2>
    <p>We're big fans of open source, but since Chaos Source uses licensed source code, the engine code cannot be open sourced.</p>
    <p>This is however the only code that cannot be open sourced.
        All of our other tools like, for example, the <a href="https://github.com/ChaosInitiative/AssetBuilder">asset builder</a>, are all open source, if possible.</p>

    <h2>Do you use leaked code?</h2>
    <p><strong>No.</strong> All of our projects are green-lit, licensed and endorsed by Valve. We do not use <u>any</u> leaked code and will obviously never leak ourselves.</p>

    <h2>Is there an SDK?</h2>
    <p>No. Due to the way source is set up and certain conditions, Chaos Source is only accessible in our games and cannot be distributed as an SDK or the like. </p>
    <p>If you wish to create a single-player game with Chaos Source features, Portal 2: Community Edition would be best suited, even for non-portal mods. </p>

</section>
</div>
