@page
@model GamesModel
@{
    ViewData["Title"] = "Games";
    ViewData["Description"] = "All the games using Chaos Source Engine";
}

<div class="h-100 d-flex flex-column">

<div class="bg-primary">
    <div class="container pt-6 pb-6">
        <h1>Games using Chaos Source Engine</h1>
        <p>These are all games currently running on Chaos Source.
            The Chaos Initiative only covers development and sharing of engine code,
            but the actual games themselves are developed by separate teams.
        </p>
        <p>We hope to expand our library!</p>
    </div>
</div>

<div class="bg-p2ce">
    <div class="container pt-6 pb-6 text-dark">
        <h1 class="text-dark">Portal 2: Community Edition</h1>
        <p>
            Through much frustration about the limited modding abilities of Portal 2,
            Portal 2: Community Edition was born to provide a much more feature rich platform for community created Portal 2 content.
            This led to the creation of Chaos Source, to expand the features and efforts of work on P2:CE to even more games!
        </p>
        <p>
            <a href="https://portal2communityedition.com" class="btn btn-dark-frame">
                <i class="fas fa-home"></i>Website
            </a>
            <a href="@Constants.LINK_DISCORD_P2CE" class="btn btn-dark-frame">
                <i class="fab fa-discord"></i>Discord
            </a>
        </p>
    </div>
</div>

<div class="bg-momentum flex-grow-1">
    <div class="container pt-6 pb-6 text-dark">
        <h1 class="text-dark">Momentum Mod</h1>
        <p>
            Before joining Chaos Initiative, Momentum Mod was an open source project based off the Source Engine 2013 SDK,
            that unifies all kinds of Source Engine movement and speedrunning communities into one shared,
            easily accessible and jank free game. The missing access to engine code limited the possibilities significantly,
            but efforts obtain an engine license were fruitless for years. When P2:CE got licensed and started development,
            both of the teams partnered to try and get code access for Momentum and create Chaos Source.
        </p>
        <p>
            <a href="https://momentum-mod.org" class="btn btn-dark-frame">
                <i class="fas fa-home"></i>Website
            </a>
            <a href="@Constants.LINK_DISCORD_MOMENTUM" class="btn btn-dark-frame">
                <i class="fab fa-discord"></i>Discord
            </a>
        </p>
        
    </div>
</div>

</div>
