@page
@using ChaosInitiative.Web.Shared
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Description"] = "Bringing Source Engine to the next level";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarChaos("/")"/>

<div class="bg-primary">
<section class="container">

    <div class="row align-items-center">
        <div class="col col-lg-5 col-md-6 col-sm-12">
            <h1>Chaos Initiative</h1>
            <h3>Taking Source Engine to the next level</h3>
            <p>We're a group of people improving and building upon Valve's Source Engine to share features across projects and in return make them available to everyone.</p>
        </div>

        <div class="col col-lg-7 col-md-6 col-sm-12 text-center">
        	<img src="img/chaos_graphic_hex.png" width="60%">
        </div>
    </div>



</section>
</div>

<div class="bg-light">
<section class="container">

    <h1>Content here</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu risus quis varius quam quisque id diam vel quam. Dolor sit amet consectetur adipiscing. Sit amet consectetur adipiscing elit duis tristique sollicitudin nibh sit. A cras semper auctor neque vitae tempus quam pellentesque. Diam in arcu cursus euismod quis viverra nibh cras. Velit ut tortor pretium viverra suspendisse potenti nullam. Arcu non odio euismod lacinia at quis risus sed vulputate. Turpis egestas sed tempus urna et pharetra pharetra. Quisque non tellus orci ac auctor augue. Id aliquet lectus proin nibh nisl condimentum id.
    </p>
    <p>
        Aliquam sem et tortor consequat id porta nibh venenatis cras. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Habitant morbi tristique senectus et netus. Felis eget velit aliquet sagittis id consectetur purus ut faucibus. Nunc id cursus metus aliquam eleifend mi in nulla. Non enim praesent elementum facilisis leo vel. Augue eget arcu dictum varius duis. Magna fermentum iaculis eu non. Quam pellentesque nec nam aliquam sem et tortor consequat. Viverra adipiscing at in tellus integer feugiat.
    </p>

</section>
</div>

<section class="container text-center" style="color: #555">
    Designed by Stefan Heinz &copy; @DateTime.Now.Year
</section>

