@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Description"] = "Bringing Source Engine to the next level";
}

<div class="h-100 d-flex flex-column">

<div class="bg-primary">
<section class="container">

    <div class="row align-items-center">
        <div class="col col-lg-5 col-md-6 col-sm-12">
            <h1>Chaos Initiative</h1>
            <h3>Taking Source Engine to the next level</h3>
            <p>We're a group of people improving and building upon Valve's Source Engine to share features across projects and in return make them available to everyone.</p>
        </div>

        <div class="col col-lg-7 col-md-6 col-sm-12 text-center">
        	<img src="img/chaos_graphic_hex.png" width="60%">
        </div>
    </div>



</section>
</div>

<div class="bg-light flex-grow-1">
    <section class="container">

        <h1>How we started</h1>
        <p>
            Chaos Initiative was founded through our frustration of how closed off and non-collaborative the Source Engine 
            licensing community seemed to have been.<br/>
            The path to getting Source Engine's source code was untransparent and confusing. 
            And even then, the few people that actually had access would often not make use of it properly and never release a game, wasting all their efforts.
        </p>
        <p>
            We're trying to change this for the better by encouraging collaboration and opening up our engine base
            for anyone to contribute to it and use it for their own games.
        </p>

    </section>
    
    <section class="container">
        
        <h1>How do I join Chaos Initiative?</h1>
        <p>
            Anybody can apply to join us, but there are some <strong>hard requirements</strong> that have
            to be fulfilled under any circumstances.
        </p>
        
        <div class="container-md">
            <ol>
                <li>You must be at least 18 years old</li>
                <li>You have to speak and understand english</li>
                <li>You must have knowledge in programming (Show us your projects)</li>
                <li>You must have never broken Valve NDA or had any other negative experiences with Valve like it</li>
            </ol>
            
            <small><strong>Note: </strong>You can still apply if you're not already under Valve NDA</small>
        </div>
        
        <div>
            <h2>Ready to join us?</h2>
            <p>Join our <a href="@Constants.LINK_DISCORD_CHAOS">Discord Server</a> and direct message any of us
                or send an E-Mail to <a href="">contact@chaosinitiative.com</a></p>
        </div>
        
    </section>
</div>

    
</div>