@page
@using ChaosInitiative.Web.Shared
@model BrandModel
@{
    ViewData["Title"] = "Branding";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarP2CE("none")"/>

<!-- CONTENT STARTS HERE -->
<div class="bg-dark">
<div class="container">
<div class="row justify-content-center">

    <div class="col col-sm-10 col-lg-8">

        <section>
            <!-- Colors -->
            <div class="row justify-content-center">
                <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #FF7B02">
                    <p>HEX: #FF7B02</p>
                    <p>RGB: 255 123 2</p>
                </div>

                <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #101010">
                    <p>#101010</p>
                    <p>RGB: 16 16 16</p>
                </div>
            </div>

            <p class="text-center" style="margin-top: 16px">Font: 
                <a href="https://fonts.google.com/specimen/Heebo?sidebar.open=true&selection.family=Heebo:wght@500&preview.text=Portal%202:%20Community%20Edition&preview.text_type=custom#standard-styles">Heebo</a>
            </p>

        </section>

        <!-- Logos -->
        <section>
            <div class="text-center">
                <img src="img/logo.png">
            </div>

            <div class="text-center">
                <img src="img/logo_square.png" >
            </div>
        </section>
    </div>

</div>
</div>
</div>
