@page
@{
    ViewData["Title"] = "Branding";
}


<div class="container pt-6">
    
    <h1 class="text-center">Portal 2: Community Edition Branding</h1>
    <p class="text-center" style="font-size: 75%">Our logos are free to use for media related to and showcasing P2:CE. All copyright is owned by Chaos Initiative.</p>
    
    <!-- Colors -->
    <div class="row justify-content-center">
        <div class="col col-sm-10 col-lg-5 bg-primary pt-4 pb-4 border border-border mr-md-2">
            <p class="mb-2 text-center">HEX: #FF7B02</p>
            <p class="mb-0 text-center">RGB: 255 123 2</p>
        </div>

        <div class="col col-sm-10 col-lg-5 bg-bg pt-4 pb-4 border border-border ml-md-2">
            <p class="mb-2 text-center">HEX: #202020</p>
            <p class="mb-0 text-center">RGB: 32 32 32</p>
        </div>
    </div>
    
    <p class="text-center mt-3">Main Font:
        <a href="https://fonts.google.com/specimen/Heebo?sidebar.open=true&selection.family=Heebo:wght@500&preview.text=Portal%202:%20Community%20Edition&preview.text_type=custom#standard-styles">Heebo</a>
    </p>
    <p class="text-center">
        <a href="~/Portal2CommunityEdition - Press Kit v1.zip" class="btn btn-secondary" download>Download Press Kit v1</a>
    </p>

</div>

<div class="container pt-5">
    
    <div class="row">
        <div class="col col-12 col-md-6 text-center pb-5">
            <div class="h-100 d-flex flex-column">
                <img src="img/logo.png" class="w-100" alt="Wide logo of P2CE">
            <!--
            <div class="mt-auto">
                <a class="btn btn-secondary" href="~/img/logo.svg" download><i class="fas fa-download mr-2"></i>Download SVG</a>
            </div>
            -->
            </div>
        </div>
        
        <div class="col col-12 col-md-6 text-center pb-5">
            <img src="img/logo_square.png" alt="Square logo of P2CE" class="w-50">
        </div>
    </div>
    
</div>