@page
@{
    ViewData["Title"] = "Branding";
}


<section class="bg-gray">
    <div class="container">
        
        <h1 class="text-center">Portal 2: Community Edition Branding</h1>
        <p class="text-center" style="font-size: 75%">Our logos are free to use for media related to and showcasing P2:CE. All copyright is owned by Chaos Initiative.</p>
        
        <!-- Colors -->
        <div class="row justify-content-center">
            <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #FF7B02">
                <p>HEX: #FF7B02</p>
                <p>RGB: 255 123 2</p>
            </div>

            <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #101010">
                <p>#101010</p>
                <p>RGB: 16 16 16</p>
            </div>
        </div>

        <p class="text-center" style="margin-top: 16px">Font:
            <a href="https://fonts.google.com/specimen/Heebo?sidebar.open=true&selection.family=Heebo:wght@500&preview.text=Portal%202:%20Community%20Edition&preview.text_type=custom#standard-styles">Heebo</a>
        </p>

    </div>
</section>

<section class="bg-gray">
    <div class="container">
        
        <div class="row">
            <div class="col col-12 col-md-6 text-center pb-5">
                <div class="h-100 d-flex flex-column">
                    <img src="img/logo.png" class="w-100" alt="Wide logo of P2CE">
                    
                    <div class="mt-auto">
                        <a class="btn btn-secondary" href="~/img/logo.svg" download><i class="fas fa-download mr-2"></i>Download SVG</a>
                    </div>
                </div>
            </div>
            
            <div class="col col-12 col-md-6 text-center pb-5">
                <img src="img/logo_square.png" alt="Square logo of P2CE" class="w-50">
            </div>
        </div>
        
    </div>
</section>