@page
@using ChaosInitiative.Web.Shared
@model ChaosInitiative.Web.P2CE.Pages.FaqModel
@{
    ViewData["Title"] = "FAQ";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarP2CE("/faq")"/>

<!-- CONTENT STARTS HERE -->
<div class="bg-dark">
    <div class="container">
    
        <section>
            <h1>Frequently asked Questions</h1>
            <p>Your question might already be answered here. If not, feel free to ask!</p>
        </section>
        
        @{
            foreach(var faq in Model.faqs)
            {
                <section>
                    <div class="row faq-question">
                        <div class="col col-1">
                            <h2>Q:</h2>
                        </div>
                        <div class="col col-auto">
                            <h2>@faq.Question</h2>
                        </div>
                    </div>
                    <div class="row faq-answer">
                        <div class="col col-1">
                            <h2>A:</h2>
                        </div>
                        <div class="col col-auto">
                            <p>@faq.Answer</p>
                        </div>
                    </div>
                    
                </section>
            }
        }
    

    </div>
</div>