@page
@using ChaosInitiative.Web.Shared
@model FeaturesModel
@{
    ViewData["Title"] = "Features";
}

<div class="container">
    
    <section class="text-center">
        <h1>Features</h1>
        <p>Everything that's new. All available right now.</p>
        
        <div class="container-md">
            <div class="row features-closed-issue-display">
                @{
                    foreach (IssuesCache closedIssues in Model.Caches)
                    {
                        <div class="col">
                            <h1>
                                @closedIssues.DisplayName
                            </h1>
                            
                            <h3>
                                @closedIssues.Count
                            </h3>
                        </div>
                    }
                }
            </div>
        </div>
        
        @if (false)
        {
            <a class="btn btn-primary" asp-page="FeaturesList">Full Feature List</a>
        }
        <div class="p-2">
            <a class="btn btn-link" href="@Constants.LINK_GITHUB_P2CE_ISSUES">Browse GitHub Issues</a>
        </div>
    </section>
    
    <partial name="Shared/FeaturesPartials/_FeaturesPartialCsgo"/>
    <partial name="Shared/FeaturesPartials/_FeaturesPartialPlatforms"/>
    <partial name="Shared/FeaturesPartials/_FeaturesPartialWebm"/>
    <partial name="Shared/FeaturesPartials/_FeaturesPartialPaintgun"/>
    <partial name="Shared/FeaturesPartials/_FeaturesPartialSchrodinger"/>
    <partial name="Shared/FeaturesPartials/_FeaturesPartialReflection"/>
    
        
</div>