@page
@using ChaosInitiative.Web.Shared
@model FeaturesModel
@{
    ViewData["Title"] = "Features";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarChaos("/features")"/>

<!-- CONTENT STARTS HERE -->
<div class="container bg-dark">
    <h1 class="text-center">TODO: Hook up features to database</h1>
</div>