@page
@using ChaosInitiative.Web.Shared
@model IndexModel
@{
    ViewData["Title"] = "Landing Page";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarChaos("/")"/>

<!-- CONTENT STARTS HERE -->
<div class="bg-dark">
<div class="container">
<div class="row">

    <div class="col col-sm-10 col-lg-8">
        <section>
            <h1 id="new-standard">The new standard.</h1>
            <p>Portal 2: Community Edition is a custom community made engine branch of Valve's Portal 2 made to bring more features to modders and mappers of the game. The engine is based off CS:GO with all Portal 2 features reimplemented as well as a bunch of new additions!</p>
            <p>Our goal is to provide an engine to Portal 2 modders, that makes the original engine obsolete for modding.</p>
        </section>

        <section>
            <h1 id="improvements">All the improvements. And&#160;more!</h1>
            <p>We add everything the community demands. Better UI, unlimited projected textures, graphical improvements, you name it!</p>
            <p>A quick overview can be found <a href="features">here</a>. If you are looking for an in-depth, complete documentation,
          check out the <a href="@Constants.LINK_GITHUB_WIKI">Wiki</a> on GitHub.</p>
        </section>

        <section>
            <h1 id="community-driven">Community driven.</h1>
            <p>We are licensed community modders that received Valve's permission to develop this project.
                This does not mean that only we are responsible though. Our aim is to include all suggestions the community has.
                If you have something for us, please open a <a href="@Constants.LINK_GITHUB_ISSUES">GitHub issue</a>!</p>
        </section>

        <section>
              <h1 id="configurable">Highly configurable.</h1>
              <p>Portal 2: Community Edition tries to move as many variables away from hard code and towards engine config files, that can be
              tweaked by modders to tune it specifically for their project's needs. You don't even need to make a Portal 2 mod with it!</p>
        </section>

        <section>
              <h1 id="workshop">Workshop Supported.</h1>
              <p>Portal 2: Community Edition supports the Steam Workshop for custom maps.</p>
        </section>

        <section>
            <h1 id="custom-campaign">Custom campaign.</h1>
            <p>The 1.0 release will feature a custom campaign that uses and showcases all the capabilities of P2CE. Additional stand-alone community authored map-packs will be featured as DLC too.</p>
        </section>

        <section>
            <h1 id="we-are-like-you">We're just like you!</h1>
            <p>We have been part of the modding community for several years and worked on countless projects.
                We want to be seen as normal community members. Don't idolise us. Don't be scared to talk to us.
                Get in touch with us and please show off what you made with our engine! Best place would be <a href="@Constants.LINK_DISCORD_P2CE">Discord</a>!
            </p>
        </section>

    </div>
</div>
</div>
</div>
