@page
@using ChaosInitiative.Web.Shared
@model IndexModel
@{
    ViewData["Title"] = "Landing Page";
}

<div class="container">
    <div class="row">

        <div class="col col-sm-10 col-lg-8">
            <section>
                <h1 id="new-standard">The new standard.</h1>
                <p>
                    Portal 2: Community Edition (P2CE) is a community built mod for Portal 2, overhauling and adding many engine features and testing elements.
                    The engine is based off CS:GO with all Portal 2 features reimplemented as well as a bunch of new additions!
                </p>
                <p>
                    Our goal is to provide a Portal content development platform so powerful that it makes standard Portal 2 obsolete for modding
                </p>
            </section>

            <section>
                <h1 id="improvements">All the improvements. And&#160;more!</h1>
                <p>We add everything the community demands. Better UI, unlimited projected textures, graphical improvements, you name it!</p>
                <p>A quick overview can be found <a href="features">here</a>. If you are looking for an in-depth, complete documentation,
                    check out the <a href="@Constants.LINK_GITHUB_P2CE_WIKI">Wiki</a> on GitHub.</p>
            </section>

            <section>
                <h1 id="community-driven">Community driven.</h1>
                <p>We are community modders that received Valve's permission to develop this project.
                    This does not mean that only we are responsible though. Our aim is to include all suggestions the community has.
                    If you have something for us, please open a <a href="@Constants.LINK_GITHUB_P2CE_ISSUES">GitHub issue</a>!</p>
            </section>

            <section>
                <h1 id="custom-campaign">Custom campaign.</h1>
                <p>
                    P2CE doesn't only change the engine.
                    The 1.0 release will feature a completely new campaign to showcase all the new stuff with its own subtle, coop-inspired story, new characters and new puzzle elements.
                </p>
            </section>

            <section>
                <h1 id="configurable">Highly configurable.</h1>
                <p>
                    Portal 2: Community Edition unlocks hard coded values to be manipulated by maps and mods. 
                    Want to change your Portal colors? Gel colors? <i>Crouch view height?</i> You can do that now.
                </p>
            </section>

            <section>
                <h1 id="workshop">Workshop Supported.</h1>
                <p>Portal 2: Community Edition supports the Steam Workshop for custom maps.</p>
            </section>

        </div>
    </div>
</div>