@page
@model ChaosInitiative.Web.P2CE.Pages.ModsModel

@{
    ViewData["Title"] = "Mods using P2CE";
}

<!-- CONTENT STARTS HERE -->
<div class="bg-dark">
<div class="container">
    @{
        foreach (Mod mod in Model.Mods)
        {
            <partial name="Shared/ModsPartials/_ModPartialDefault" model="mod"/>
        }
    }
    
    <section>
        <p class="text-center"><small>All mods listed here have been submitted by their creators.</small></p>
    </section>

</div>
</div>