@page
@{
    ViewData["Title"] = "404 Not Found";
}

<section class="bg-gray h-100">
    <div class="container text-center">
        
        <h1>404</h1>
        <p>The resource you're looking for isn't available</p>
    
    </div>
</section>