@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="pt-5 pb-5">
    <div class="container">
    
        <h1>Privacy Policy</h1>
        <p>We don't collect any personal data, serve personalized ads or use cookies.</p>
        
        <p class="pt-2 pb-5">Yes it can be as simple as that.</p>
    
    </div>
</div>