@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="bg-gray">
    <div class="container">
    
        <h1>Privacy Policy</h1>
        <p>We don't collect any personal data. The only data that is stored are HTTPS request logs</p>
        
        <h2>Cookies</h2>
        <p>We don't use cookies</p>
        
        <h2>Personalized Ads</h2>
        <p>We don't have ads</p>
        
        <p class="pt-2 pb-5">Yes it can be as simple as that.</p>
    
    </div>
</section>