@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg-dark">
<div class="container">
    
    <section>
        
        <h1>Privacy Policy</h1>
        <p>Our privacy policy is pretty simple:</p>
        <p>We don't collect any personal data. The only data that is stored are HTTPS request logs</p>
        
        <h2>Cookies</h2>
        <p>We don't use cookies</p>
        
        <h2>Personalized Ads</h2>
        <p>We don't have ads</p>
        
        <p style="padding-bottom: 5rem;">Yes it can be as simple as that.</p>
        
    </section>
    
</div>
</div>