@page
@model ChaosInitiative.Web.P2CE.Pages.TeamModel

@{
    ViewData["Title"] = "The Team";
}

<div class="bg-dark">
<div class="container">

<section>
    <h2>
        This is a template page
    </h2>

    <p>
        Please replace me!
    </p>
</section>

</div>
</div>