@page
@using ChaosInitiative.Web.Shared
@model ChaosInitiative.Web.P2CE.Pages.TeamModel

@{
    ViewData["Title"] = "The Team";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarP2CE("/team")"/>

<div class="bg-dark">
<div class="container">

<section>
    <h2>
        This is a template page
    </h2>

    <p>
        Please replace me!
    </p>
</section>

</div>
</div>