@page
@using ChaosInitiative.Web.Shared
@model WikiModel
@{
    ViewData["Title"] = "Wiki";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbarChaos("/wiki")"/>

<!-- CONTENT STARTS HERE -->
<div class="container bg-dark">
    <h1 class="text-center">TODO: Hook up wiki to github</h1>
</div>