@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="container bg-primary">
    <h1>Chaos Initiative Control Panel</h1>
    <a class="btn btn-primary" asp-page="/Panel/Dashboard">Login</a>
</div>
