@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="container p-3">
    <h1>Chaos Initiative Control Panel</h1>
    <p>This control panel is only accessible to members of Chaos Initiative</p>
</div>
