<div class="feature-partial pt-5 pb-3">
    <div class="row">
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <h1>
                A New Way to Test
            </h1>
            <p>
                Adhesion gel, the Paint-Gun, Schrödinger's cubes and colored lasers are just a few of the new testing elements added by 
                P2:CE.
            </p>
            <p>
                Existing test elements are enhanced with new features and bug fixes.
            </p>
        </div>
        
        <div class="col col-md text-right feature-partial-picture">
            <img src="~/img/features/gameplay_elements.jpg" class="w-100" alt="Picture of gameplay elements"/>
        </div>

    </div>
</div>