<section class="feature-partial">
    <div class="row">
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <h1>
                New testing elements
            </h1>
            <p>
                P2CE brings back all of your favorite cut puzzle elements. Adhesion gel, Paint-Gun, Schrödinger's cube, you name it! 
            </p>
            <p>
                In addition, existing elements are enhanced with new features for mappers!
            </p>
        </div>
        
        <div class="col col-md text-right feature-partial-picture">
            <img src="~/img/features/gameplay_elements.jpg" class="w-100" alt="Picture of gameplay elements"/>
        </div>

    </div>
</section>