<div class="feature-partial pt-5 pb-3">
    <div class="row">
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <div class="d-flex flex-column h-100">
                
                <h1>
                    Running everywhere on 64bit
                </h1>
                <p>
                    P2:CE is available natively on Windows and Linux with a Mac build coming soon!
                    All 64bit.
                </p>

                <p class="mt-auto">
                    <small>
                        Hammer and other MFC tools run on Windows natively, and run on Linux using Steam Proton.
                    </small>
                </p>
                
            </div>
        </div>
        
        <div class="col col-md text-right feature-partial-picture">
            <!--<img src="https://via.placeholder.com/1280x720" class="w-100" alt="Picture showing on which platforms p2ce runs on"/>-->
        </div>

    </div>
</div>