<section class="feature-partial">
    <div class="row">
        
        <div class="col text-left feature-partial-picture">
            <img src="~/img/features/webm_video_support.jpg" class="w-100" alt="Picture showcasing webm video"/>
        </div>
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <h1>
                WebM Support
            </h1>
            <p>
                A modern game should use modern formats, so we stripped Portal 2's old BINK video support 
                and made our own WebM video implementation!
            </p>
            <p>
                This results in better quality and framerate as well as <b>massive</b> file size reduction. 
                A win-win for everyone!
            </p>
            <p>
                You can now also load custom videos in your map.
            </p>
        </div>

    </div>
</section>