<section class="feature-partial">
    <div class="row">
        
        <div class="col col-md-7">
            <h2>
                Aperture Science Handheld Gel Accelerator
            </h2>
            <p>Some text explaining what this feature is</p>
        </div>
        
        <div class="col col-md-auto text-right">
            <img src="img/external/mapbase.png"/>
        </div>

    </div>
</section>