<section class="feature-partial">
    <div class="row">
        
        <div class="col text-left">
            <img src="https://via.placeholder.com/1280x720" class="w-100"/>
        </div>
        
         <div class="col col-12 col-md-7">
            <h2>
                Schrödinger's Weighted Storage Cube
            </h2>
            <p>
                 With the power of quantum entanglement, this new weighted storage cube variant
                 has the ability to transfer pair states like magic! Schrödinger's Cube consists
                 of two cubes which can transmit laser signals or gels to each other.
            </p>
            <p>
                 In lamens terms, laser goes in, laser goes out
            </p>
        </div>

    </div>
</section>