<section class="feature-partial">
    <div class="row">
        
        <div class="col text-right">
            <img src="~/img/features/csgo.png" class="w-100"/>
        </div>
        
        <div class="col col-12 col-md-7">
            <h2>
                CS:GO Powered
            </h2>
            <p>By using the CS:GO engine, we get a lot of very useful features for free!</p>
            <ul>
                <li><a href="https://developer.valvesoftware.com/wiki/Panorama">Panorama UI</a></li>
                <li><a href="https://developer.valvesoftware.com/wiki/Env_cascade_light">Cascaded Shadow Maps</a></li>
                <li>Baked <a href="https://en.wikipedia.org/wiki/Ambient_occlusion">Ambient Occlusion</a></li>
                <li><a href="https://developer.valvesoftware.com/wiki/$phong">Phong on LightmappedGeneric</a></li>
                <li>Several new Material Parameters</li>
            </ul>
        </div>
        
    </div>
</section>