<section class="feature-partial">
    <div class="row">
        
         <div class="col col-12 col-md-7">
            <h2>
                Electromagnetic Reflector Gel
            </h2>
             <p>
                 Good ol' reflection gel. Has been there for years but always disappointed. 
                 Well not anymore! Not only is the reflection gel now a fully functional element,
                 it's also got some new tricks up its sleeves by now reflecting <em>everything</em>.
             </p>
             <p>
                 From lasers to hard light bridges. This now reflects it all!
             </p>
        </div>
        
        <div class="col text-left">
            <img src="https://via.placeholder.com/1280x720" class="w-100"/>
        </div>

    </div>
</section>