<section class="feature-partial">
    <div class="row">
        
        <div class="col col-12 col-md-7">
            <h2>
                Aperture Science Handheld Gel Accelerator
            </h2>
            <p>
                Portal 2 was originally going to have a Paint gun in addition to the Portal gun.
                It never made it into the game so we brought it back!
            </p>
        </div>
        
        <div class="col text-right">
            <img src="https://via.placeholder.com/1280x720" class="w-100"/>
        </div>

    </div>
</section>