<div class="feature-partial pt-5 pb-3">
    <div class="row">
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <div class="d-flex flex-column h-100">
                
                <h1>
                    Running (almost) Anywhere
                </h1>
                <p>
                    P2:CE is available natively for 64-bit Windows and Linux. A Mac build may come in the future 
                    depending on the interest in the platform. 
                </p>
                <p>
                    Chaos engine and P2:CE have first class Linux support: Pick a distro and P2:CE will run out of the
                    box!
                </p>

                <p class="mt-auto">
                    <small>
                        Hammer and other MFC-based tools run natively on Windows, and on Linux through Proton/Wine.
                    </small>
                </p>
                
            </div>
        </div>
        
        <div class="col col-md text-right feature-partial-picture">
            <img src="~/img/features/linux.png" class="w-100" alt="Picture showing on which platforms p2ce runs on"/>
        </div>

    </div>
</div>