<section class="feature-partial">
    <div class="row">
        
        <div class="col col-md-7">
            <div class="d-flex flex-column h-100">
                
                <h2>
                    Running everywhere on 64bit
                </h2>
                <p>
                    Portal 2: Community Edition is available natively on Windows and Linux with a Mac build coming soon!
                    All 64bit.
                </p>

                <p class="mt-auto">
                    <small>
                        (Hammer and other MFC tools are still Windows-only)
                    </small>
                </p>
                
            </div>
        </div>
        
        <div class="col col-md text-right">
            <img src="https://via.placeholder.com/1280x720" class="w-100"/>
        </div>

    </div>
</section>