<div class="feature-partial pt-5 pb-3">
    <div class="row">
        
        <div class="col text-right feature-partial-picture">
            <img src="~/img/features/panorama.png" class="w-100" alt="Picture of our new UI"/>
        </div>
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <h1>
                A Brand New Look
            </h1>
            <p>P2:CE has a completely new UI powered by <a href="https://developer.valvesoftware.com/wiki/Panorama">Panorama</a>, 
                the UI framework built for Valve's Source 2 engine.</p><br>
            <p>With the added flexibility of Panorama, modders will be able to create beautiful, rich, custom UIs completely
                from scratch without relying on hardcoded GameUI layouts.</p>
        </div>
        
    </div>
</div>