<div class="feature-partial pt-5 pb-3">
    <div class="row">
        
        <div class="col text-right feature-partial-picture">
            <img src="~/img/features/chaos.png" class="w-100" alt="Picture of Chaos Logo"/>
        </div>
        
        <div class="col col-12 col-md-7 feature-partial-content">
            <h1>
                Powered by Chaos
            </h1>
            <p>Portal 2: Community Edition is powered by the Chaos Engine, a fork of CS:GO's engine branch with many improvements.</p>
            <ul>
                <li><a href="https://developer.valvesoftware.com/wiki/Panorama">Panorama UI</a></li>
                <li>New graphical features: Cascaded Shadow Maps and Physically Based Rendering (PBR)</li>
                <li>Native DirectX 11 renderer</li>
                <li>Backwards compatibility with Half-Life 2/Team Fortress 2 maps, models and textures</li>
                <li>Hammer Editor improvements</li>
                <li>Massively improved cross platform support</li>
            </ul>
        </div>
    </div>
</div>