<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Chaos Initiative Control Panel</title>
    <partial name="_LayoutHeadPartial"/>
</head>
<body>
    @RenderBody()
</body>
</html>