@using ChaosInitiative.Web.ControlPanel.Services.Repositories
@using ChaosInitiative.Web.ControlPanel.Services
@using ChaosInitiative.Web.ControlPanel.Model
@inject FeatureRepository FeatureRepository
@inject GameRepository GameRepository

<section>
    
    <div class="row">
        
        <div class="col col-auto">
            <div class="input-group mt-auto">
                <button class="btn btn-secondary" data-toggle="modal" data-target="#newFeatureModal">
                    <i class="fas fa-plus"></i> New Feature
                </button>
            </div>
        </div>

    </div>
    
    <div>
        
    </div>
    
    
    
    <!-- New Feature Modal -->
    <div class="modal fade"
         id="newFeatureModal"
         tabindex="-1"
         aria-labelledby="newFeatureModalTitle"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    
                <div class="modal-header">
                    <h4>New Feature</h4>
                </div>
                <div class="modal-body">
                    <FeatureEntry Feature="NewFeature"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            
            </div>
        </div>
    </div>
    
    
</section>

@code {

    
    public Feature NewFeature = new Feature();
    public Issue NewRelatedIssue = new Issue();

    protected override async Task OnParametersSetAsync()
    {
       
    }
    
    // See what the fuck this is
    
    void SetNewRelatedIssueOwner(Game game)
    {
        NewRelatedIssue.Game = game;
    }

    void SetNewRelatedIssueId(string stringId)
    {
        if (uint.TryParse(stringId, out var uintId))
        {
            NewRelatedIssue.IssueId = uintId;
        }
        
    }

    void AddNewRelatedIssue()
    {
        NewFeature.RelatedIssues.Add(NewRelatedIssue);
        NewRelatedIssue = new Issue();
    }

}