@using ChaosInitiative.Web.ControlPanel.Services.Repositories
@using ChaosInitiative.Web.ControlPanel.Model
@inject GameRepository GameRepository

<section>
    
    <div class="row">
        
        <div class="col">
            <h1>Games</h1>
        </div>
        
        <!-- Toolbar -->
        <div class="col-auto">
            <button class="btn btn-secondary" data-toggle="modal" data-target="#newGameModal">
                <i class="fas fa-plus"></i>Add
            </button>
        </div>

    </div>

    @{
        foreach (Game game in GameRepository.GetAll())
        {
            <GameEntry Game="@game"/>
            <hr/>
        }
    }
    
    <!-- New game popup modal -->
    <div class="modal fade"
         id="newGameModal"
         tabindex="-1"
         aria-hidden="true">
        
        <div class="modal-dialog modal-dialog-scrollable"
         
             aria-labelledby="newGameModalTitle">
            <div class="modal-content bg-dark bg-gray">
            
                <div class="modal-header">
                    <h4 id="newGameModalTitle">Add New Game:</h4>
                    
                    <div class="alert alert-danger alert-sm d-none">
                        <span class="alert-icon"><span class="sr-only"></span></span>
                    </div>
                </div>
                <div class="modal-body">
                    <GameEntry Game="@_newGame"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="ClearGame">Clear</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" @onclick="AddGame" data-dismiss="modal">Add</button>
                </div>
            
            </div>
        </div>
    </div>
    
</section>

@code {

    Game _newGame = new Game();

    async Task AddGame()
    {
        bool success = await GameRepository.Add(_newGame);
        
        
    }

    void ClearGame()
    {
        _newGame = new Game();
    }
    
}