@{
    string name = User.Identity.Name;
    string gitHubProfilePicPath = $"https://www.github.com/{name}.png";
}
<img src="@gitHubProfilePicPath" alt="@name's profile picture" width="25" height="25"/>
<a class="text-primary" href="https://www.github.com/@name">@name</a>