@page
@{
    Layout = "Shared/_LayoutBare";
}

<div class="container">
    
    <section>
        <h2>Error</h2>
        <p>There was an error when authenticating the user. Try again and contact an admin</p>
        <a asp-page="/Index" class="btn btn-light">Go Back</a>
    </section>
    
</div>