@page
@{
    Layout = "Shared/_LayoutPaper";
    ViewData["Title"] = "Error!";
}

<h2>Error</h2>
<p>There was an error when authenticating the user. Try again and contact an admin</p>
<a asp-page="/Index" class="btn btn-light">Go Back</a>
