@page

@{
    Layout = "Shared/_LayoutPaper";
    ViewData["Title"] = "No organization member";
}

<h2>Access Denied</h2>
<p>You must be a member of Chaos Initiative to access this page.</p>

<a asp-page="/Index" class="btn btn-primary">Go back</a>
<a asp-controller="Auth" asp-action="SignInAsync" class="btn btn-link">Try again</a>
