@page
@model BrandModel
@{
    ViewData["Title"] = "Branding";
}

<partial name="Shared/_NavbarPartial" model="@Navbar.GetDefaultNavbar("none")"/>

<!-- CONTENT STARTS HERE -->
<div class="bg-dark">
<div class="container">
<div class="row align-content-center">

    <div class="col col-sm-10 col-lg-8">

        <section>
            <!-- Colors -->
            <div class="row align-items-center">
                <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #FF7B02">
                    <p>#FF7B02</p>
                </div>

                <div class="col col-sm-10 col-lg-5 brand-colorbox" style="background-color: #101010">
                    <p>#101010</p>
                </div>
            </div>

            <p class="text-center pt-2">Font: Heebo</p>

        </section>

        <!-- Logos -->
        <section>
            <div class="text-center">
                <img src="img/logo.png">
            </div>

            <div class="text-center">
                <img src="img/logo_square.png" >
            </div>
        </section>
    </div>

</div>
</div>
</div>
