* {
    --color-chaos: #B92F2F;
}

html, body {
    height: 100%;
}

::selection {
    color: black;
    background-color: var(--color-chaos);
}

section {
    display: block;
    padding: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    border: solid 2px #ccc;
}

section:first-child {
    margin-top: 1rem;
}

section h1,
section h2,
section h3,
section h4 {
    color: var(--color-chaos);
}

.page-title {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: var(--color-chaos);
}

.page-title > span {
    font-size: 65%;
}

.table {
    max-width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

.btn > i.fas,
.btn > i.fab
{
    padding-right: 0.5rem;
}

.card-no-border {
    border: none;
}

/* Fine tuning */

.bg-dark .text-muted {
    background: transparent;
}

.bg-gray section {
    border-color: #3b3b3b;
}

.bg-gray {
    background-color: #202020 !important; /* i know, i know */
}

.bg-gray.card, .bg-gray .card {
    border-color: #3b3b3b;
}

.bg-dark hr {
    border-color: #3b3b3b;
}

.bg-dark a {
    color: white;
}

.bg-gray .btn-secondary.btn {
    background-color: transparent;
    color: white;
    border-color: #3b3b3b;
}

.bg-gray .btn-primary.btn {
    background-color: transparent;
    color: white;
    border-color: var(--color-chaos);
}

.bg-gray .text-primary {
    background-color: transparent;
}

.bg-gray .form-control {
    background-color: transparent;
    color: white;
    border-color: #3b3b3b;
}

#sidebar {
    border-right: 2px solid #3b3b3b;
}