* {
    --color-chaos: #B92F2F;
    --color-bg: #202020;
    --color-border: #3b3b3b;
    --color-text: #ffffff;
    --color-text-muted: #6f6f6f;
    
    --color-chart-1: #2d95bf;
    --color-chart-2: #b132ab;
    --color-chart-3: #84bc40;
    --color-chart-4: #cd3f54;
    --color-chart-5: #b5a73e;
    --color-chart-6: #8b28d4;
    --color-chart-7: #40bf89;
}

html, body {
    height: 100%;
}

::selection {
    color: black;
    background-color: var(--color-chaos);
}

section {
    display: block;
    padding: 1.5rem;
    margin: 1rem 0 1rem 1rem;
    border: solid 2px #ccc;
}

section:first-child {
    margin-top: 1rem;
}

section h1,
section h2,
section h3,
section h4 {
    color: var(--color-chaos);
}

.page-title {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    color: var(--color-chaos);
}

.page-title > span {
    font-size: 65%;
}

.table {
    max-width: 100%;
    word-wrap: break-word;
    table-layout: fixed;
}

.btn > i.fas,
.btn > i.fab
{
    padding-right: 0.5rem;
}

.card-no-border {
    border: none;
}

/* Fine tuning */

.bg-dark .text-muted {
    background: transparent;
}

.bg-gray section {
    border-color: var(--color-border);
}

.bg-gray {
    background-color: var(--color-bg) !important; /* i know, i know */
}

.bg-gray.card, .bg-gray .card {
    border-color: var(--color-border);
}

.bg-dark hr {
    border-color: var(--color-border);
}

.bg-dark a {
    color: white;
}

.bg-gray .text-primary {
    background-color: transparent;
}

.bg-gray .form-control {
    background-color: var(--color-bg);
    color: white;
    border-color: var(--color-border);
}

#sidebar {
    border-right: 2px solid var(--color-border);
}